* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --highlight-color: #9edce4;;
}
Body {
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    /*#fff5fd;*/
}
p{
	font-family: 'Noto Sans Mono', monospace;
}

/*Header section*/
header {
    display:flex;
    top: 0;
    padding: 10px;
}

header a {
    color: black;
}

header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
 
    list-style: none;
}
header nav ul li a{
    padding: 10px 15px;
  
    font-size: 16px;
    text-decoration: none;
 
}
header nav ul li a:hover {
    color: var(--highlight-color);
    border-radius: 80px;
    text-shadow: none;

}
section {
    padding: 60px;
}


/* Hero Section */

.hero {
  
    margin: 220px 0px 220px 0px;
    color: black;
    font-size: 30px;
    line-height: 1;
}

.hero p{
   font-size: 16px;
   line-height: 5;
  
}
.hero-cta{
    align-items: flex-start;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  }

  
  .object {
    position: relative;
    width: 200px;
    height: 200px;
    z-index: 1;
  }
  
  .object__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid var(--highlight-color);
    border-radius: 50%;
  }
  
  .object__intro {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    width: 300px;
    padding-left: 20px;
    color: var(--highlight-color);
  }
  
  .object__intro-text {
    line-height: 1.5;
  }
  
  .arrow {
    position: absolute;
  
    left: 190px;
    width: calc(50% - 200px);
    height: 30%;
    /* uncomment to see the arrow's rectangle bg*/
  /*   background: white;  */
  }
  
  .arrow__body {
    width: 95%;
    height: 95%;
    margin-left: 10px;
    border-width: 5px 0 0 5px;
    border-style: dashed;
    border-color: var(--highlight-color);
    border-top-left-radius: 100%;
  }
  
  .arrow__body::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 20px 15px 0;
    border-style: solid;
    border-color: var(--highlight-color) transparent transparent;
  }

/*Skills section*/
#skills{
	margin: 0px 0 200px 0;
}
.skillsCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: 50px;
    background-color: #f1f8fe;
    color: #258dbf;
    text-align: center;
    height: 100%;
}

/*work Section */
.portfolio{
	background-color: #f1f5f7;
	text-align: center;
}
.githubLink{
	text-decoration: none;
	color: black;
}
.githubLink:hover{
	text-decoration: none;
	color: rgb(3, 141, 191);
	font-size: 20px;
	font-weight: bold;
}
.container {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
  }
  .container p {
    font-size: 10px;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: 0 0 10px 0;
    background-color: rgb(241 254 255);
    height: 100%;

}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.work{
    display: flex;
    flex-wrap: wrap;
   
  grid-template-columns: repeat(3, 1fr);
   
  grid-auto-rows: auto;
   
  grid-gap: 1rem;
   
}
.links a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.links a:hover{
    text-decoration: none;
    color: rgb(3, 141, 191);
    font-size: 18px;
}
/* About Me Section*/

.bio {
    margin: 50px 0 100px 10px;
    width: 80%;
    justify-content: space-between; 

}

.my-bio {
    padding: 25px;
    overflow: auto;
    line-height: 1.3;
    display: flex;
}
.bio img{
    width: 25%;
    height: 0%;
    border: 3px solid var(--highlight-color);
    border-radius: 90%;
}
.bio-text p{
    line-height: 1.5;
    color: black;
    width: 90%;
    font-size: 16px;
    margin: 8% 0 0 auto;
}

/* contact */
.contact {
    background-color: #f1f5f7;
    padding: 60px 0 0 0;
}

.contact-info{
    text-align: center;
    letter-spacing: 60px;
    padding: 25px;
 }
 .contact-info a{
    text-decoration: none;
}
.contact-info img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50px;
}

 iframe{
    width: 100%;
  height: 300px;
}

iframe{
    width: 100%;
    padding: 10px;
}
/* Footer */
footer {
    background-color: #f1f5f7;
   justify-content: space-around;
   width: 100%;
   padding: 25px 35px;
}
footer div {
   color: black;
   text-align: center;
   font-size: 14px;
}

/**/
.top-arrow{
	text-align: right;
	margin: 50px;
}
.to-top{
	color:black;
	padding-top:1.8em;
	display:inline-block;/* or block */
	position:fixed;
	border-color:black;
	text-decoration:none;
	transition:all .3s ease-out;
	text-align: center;
}
.to-top:before{
	content:'▲';
	font-size:14px;
	position:absolute;
	top:0;
	left:50%;
	margin-left:-.7em;
	border:solid .13em rgb(8, 0, 0);
	border-radius:10em;
	width:1.4em;
	height:1.4em;
	line-height:1.3em;
	border-color:inherit;
	transition:transform .5s ease-in;
}
.to-top:hover{
	color:var(--highlight-color);
	border-color:var(--highlight-color);
}
.to-top:hover:before{
	transform: rotate(360deg);
}
.top-top, a{
	font-size: 16px;
	bottom: 0;
}

/* media query */
@media screen and (max-width: 980px) {
   header {
       padding-bottom: 0;
       justify-content: center;
       position: relative;
       margin: 0px 40px 0px 40px;
       width: 100%;
   }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
        padding: 5px;
        text-align: center;
    }

    footer div {
        text-align: center;
        width: 100%;
    }
    .hero-cta {
        width: 100%;
        text-align: center;
    }


    .contact-info iframe{
        flex: 1 100%;
    }
  
    
    .top-arrow{
	text-align: right;
	margin: 0px;
}
}
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }
     .card{
    	width: 100%;
    	height: fit-content;
    }
 
}
@media screen and (max-width: 575px) {
    .section-title {
        width: 95%;
        border-right: none;
    }
    .intro p {
        width: 100%;
    }
    .hero-container {
        width: 40%;
        flex-wrap:wrap;
       
    }
    .object {
           position: relative;
           width: 100px;
           height: 100px;
           z-index: 1;
    }
  
    .contact-info {
        text-align: center;
    }
    .contact-info > * {
        flex: 0 100%;
    }
    .card{
    	width: 100%;
    	height: fit-content;
    }
    .container{
    	font-size: 10px;

    }
     
}